@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}